body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

header {
  background: #1e3a5f;
  color: white;
  padding: 50px;
  text-align: center;
}

section {
  padding: 40px;
}

.placeholder {
  height: 250px;
  background: white;
  border: 2px dashed gray;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: gray;
}